<div class="aside-link">
 
    <a ui-sref="route3">The Rooks</a>
       <a ui-sref="route2">The Music</a> 
    <a ui-sref="route4" class="active">The Story</a>
</div>

<!--<h3 class="sidebar-title">History</h3>--><br>
<p class="song-body">
    <i class="rooks-icon"></i>
    The Rooks is made up of four Seattle-area musicians with deep roots in Americana music.
Their unique blend of tight vocals, driving rhythm and two-pronged guitar attack 
makes The Rooks! rock.
</p>
<p class="song-body">

    The band was originally started by
    Brian Knowles and Jim Brandt
    while in junior high school in Seattle Wa., and now have teamed up with 
    Frank James and Bob Virkelyst
    to continue the tradition.
</p>
<p class="song-body">
    Like destiny that brought them together again, the band continues to evolve 
and expand musical boundaries while staying true to Rock roots and creative open spirit. 
</p>

<br/><br/>

<div class="member" data-ng-repeat="member in members | orderBy: 'id' ">
    <div class="member-img-container">
        <img src="{{member.src}}" title="{{member.name}}" class="member-img">
        
        <div>{{member.name}}</div>
    </div>

    <div class="song-title">{{member.job}}</div>
    <div class="song-body">{{member.body}}
    
         <!--<a ng-show="member.slug" ui-sref="{{member.slug}}" title="{{member.name}} songs">Songs</a>-->

    </div>


</div>




