<!-- buttons -->

<button save-cup type="button" id="savecup" class="btn btn-primary 
  active-menu">Save Your Cup</button>
  

  <div class="fb-save " data-uri="https://dev2k.com/hackday" data-size="large"></div>





<svg height="0" width="0">
  <filter id="fb-filter">
    <feColorMatrix type="hueRotate" values="240"/>
  </filter>
</svg>
<style>
  .fb-like, .fb-send, .fb-share-button,.fb-save {
    -webkit-filter: url(#fb-filter); 
    filter: url(#fb-filter);
  }
</style>

<!--http://members.chello.nl/~sgm.jansen/facebook-button-colorizer/-->

