<div class="lineitem">
<p ><span>
The Rooks is made up of four Seattle-area musicians with deep roots in Americana music.
Their unique blend of tight vocals, driving rhythm and two-pronged guitar attack 
makes The Rooks! rock.
  
    
    <!--
      captures the excitement and pure joy making music together.
    to combine their unique blend of tight vocals and a two-pronged guitar attack with elements of contemporary Rock and Americana. to power the sprit and move the soul while capturing the excitment and pure joy making music.-->
    </span>
</p>

<!--
<p>
The Rooks is made up of four Seattle-area musicians with deep roots in contemporary Americana music that incorporates elements of various music styles. The members have played in dozens of local and touring bands before coming together to form this project, stretching the boundaries of Alt. Country and Roots Rock along the way. 
</p>

<p>Led by two of Seattle's premier guitar players, Frank James and Brian Knowles, and a rock-solid back-line of Bob Virkelyst on drums and Jim Brandt on bass, The Rooks bring a unique blend of tight vocals and a two-pronged guitar attack that captures the excitement and love of making great music together.

</p>
-->


    </div>