
<section class="lyricsbox">


<article id="default">
  <header>
    <h1>Innocent days</h1>
    <h3>Parts unKnown</h3>
  </header>
  <p class="lyrics">
      It gets the heart pumping<br>
        Like a drum, a tap tap is thumping<br>
        Innocent days we were young,<br>
        heart were pure and pure was sung.<br>
        Records spin, sweet smelling vinyl.<br>
        I won't change, and that's final.<br><br>
        The scratch of the needle hums,<br>
        With every word, peace comes.<br>
        I may be old fashioned, I know,<br>
        But words do soothe the soul.<br><br>
        The body moves in its own beat,<br>
        Rhythm tap taps my feet.<br>
        Rock and roll will always be heard,<br>
        For it was a vision that'll never get blurred.
        
	</p>
</article>

<article id="template">
  <header>
    <h1>Big Sweet Life</h1>
    <h3>lyrics by Jon Dee Graham</h3>
  </header>
  <p class="lyrics">

  </p>
</article>

<article id="waitress">
  <header>
    <h1>Waitress</h1>
    <h3>lyrics by Freddy Jones Band</h3>
  </header>
  <p class="lyrics">
	Well time stood still for a moment now in yesterday's<br>
Sun that made me blind I‘m thinking sideways<br>
Well a waitress well she breaks her back for cheap<br>
Smiles how it going<br>
Is it coffee or some tea?<br><br>

Well an old man well he stands outside the diner<br>
Holds a cane and red swollen eyes<br>
Shakes his cup<br>
Cause miracles come from small change<br>
Love of drink sparkles in his eyes<br><br>

Well it's just another day with out a dollar<br>
Too many brothers they can't spare a dime<br>
Just another day with no tomorrow<br>
For that little sister you can't spare the time<br>
For that little sister you can't spare your...
	</p>
</article>

<article id="virginia">
  <header>
    <h1>Virginia</h1>
    <h3>lyrics by Gin Blossoms</h3>
  </header>
  <p class="lyrics">
	It's like trying to light a cigarette<br>
When the matches you got are soaking wet<br>
Tallest buildings they got are bound to fall<br>
When it's coming down like a wrecking ball<br>
Slow down, Virginia<br>
Don't make me wait<br>
Slow down, Virginia<br>
Don't make me wait<br>
Virginia<br><br>

It's everything that's cool rolled into one<br>
Everything that's not is left alone<br>
You can hear it ring from near and far<br>
You can hear it scream like a fire alarm<br>
Slow down, Virginia<br><br>

Don't make me wait<br>
Slow down, Virginia<br>
Don't make me wait<br>
Virginia<br><br>

Sometimes it sounds like she's been crying<br>
But when she lights, this whole dump is...<br>
It's everything that's cool rolled into one<br>
Everything that's not is left alone<br>
You can hear it ring from near and far<br>
You can hear it scream like a fire alarm<br>
Slow down, Virginia...
	</p>
</article>

<article id="flattire">
  <header>
    <h1>Flat Tire</h1>
    <h3>lyrics by Dada</h3>
  </header>
  <p class="lyrics">
	So tough, I didn't even wanna chew<br>
Your lies were the best I ever knew<br>
New car, new clothes, new attitude<br>
You were always in the headlines, weren't you?<br><br>

You better slow down<br>
They're draggin' your name all over this town<br><br>

No luck always in second place<br>
A flat tire on the road to a better place<br>
And you know there's some things that you can't deny<br>
That you were always on the run with some other guy<br><br>

You better slow down<br>
They're draggin' your name all over this town<br>
What comes around goes around, yeah<br><br>

The truth is gonna come out<br>
And I'll be the first to open up my mouth<br>
But who is gonna treat you right?<br>
You, you better know tonight<br><br>

The truth is gonna take place<br>
And I'll be the first one savin' my face<br>
But who is gonna love you more?<br>
No one ever knows for sure,
Who?<br><br>

So tough, I didn't even wanna chew<br>
Your lies were the best I ever knew<br>
New car, new clothes, new attitude<br>
You were always in the headlines, weren't you?<br><br>

You better slow down<br>
They're draggin' your name all over this town<br>
What comes around goes around, yeah<br><br>

The truth is gonna come out<br>
And I'll be the first to open up my mouth<br>
But who is gonna treat you right?<br>
You, you better know tonight<br><br>

The truth is gonna take place<br>
And I'll be the first one savin' my face<br>
But who is gonna love you more?<br>
No one ever knows for sure, 
Who?


	</p>
</article>

<article id="dim">
  <header>
    <h1>Dim</h1>
    <h3>lyrics by Dada</h3>
  </header>
  <p class="lyrics">
	If you've got a picture of your face<br>
Could you leave it on your way out the door?<br>
I don't care if it's color or black or white<br>
I just need something to remember you by<br><br>

Oh, before my life went dim<br>
Oh, before my life went dim<br>
No one told me the trouble I was in<br>
Before my life went dim<br><br>

I painted half my face all green<br>
Don't you know I painted half my face blue?<br>
In hopes of showing you<br>
Both sides of me, both sides of me<br>
I guess it came down to<br>
Don't you love me, don't you love me?<br><br>

Oh, before my life went dim<br>
Oh, before my life went dim<br>
No one told me the trouble I was in<br>
Before my life went dim<br><br>

Can't this car go any faster?<br>
Can't this car go any faster?<br>
Can't this car go any faster, faster, faster?<br>
Can't this car go 'cause I can still see where I am<br><br>

Oh, before my life, before my life went dim<br>
Oh, before my life, before my life went dim<br>
You should have told me the trouble I was in<br>
Before my life went dim


	</p>
</article>


<article id="turnaround">
  <header>
    <h1>Turn Around</h1>
    <h3>lyrics by Whiskeytown</h3>
  </header>
  <p class="lyrics">

		Want to cross but I don't think I can <br>
		It's too weak here even where I stand<br>

		Come here darling let me see you hold my hand<br>
		So we can mend your broken halo<br><br>

		All I want from you<br>
		And all I want from you, is for you to<br>
		Turn around <br>
		<br>

		Want to damage, so I damaged it some<br>
		We use to have it all now I just got some<br>

		Silent perfections mystery all easy to fall from your lips<br>
		All the while lies are told to me in shapeless secrets<br><br>

		When all I want from you<br>
		All I want from you <br>
		Is for you to<br><br>

		Can't your turn around <br>


		Turn around ...

	</p>
</article>


<article id="downinthehole">
  <header>
    <h1>Down In The Hole</h1>
    <h3>lyrics by Tom Waits</h3>
  </header>
  <p class="lyrics">
When you walk through the garden<br>
you gotta watch your back<br>
well I beg your pardon<br>
walk the straight and narrow track<br>
if you walk with Jesus<br>
he's gonna save your soul<br>
you gotta keep the devil<br>
way down in the hole<br><br>

he's got the fire and the fury<br>
at his command<br>
well you don't have to worry<br>
if you hold on to Jesus hand<br>
we'll all be safe from Satan<br>
when the thunder rolls<br>
just gotta help me keep the devil<br>
way down in the hole<br><br>

All the angels sing about Jesus' mighty sword<br>
and they'll shield you with their wings<br>
and keep you close to the lord<br>
don't pay heed to temptation<br>
for his hands are so cold<br>
you gotta help me keep the devil<br>
way down in the hole

	</p>
</article>


<article id="twilight">
  <header>
    <h1>Twilight</h1>
    <h3>lyrics by Jon Dee Graham</h3>
    
  </header>
  <p class="lyrics">

13 words across my chest, <br>
the sun is roarin down the west<br>
you are the one that I love the best and I'm sorry<br><br>

tear it down and take it south, <br>
you and all your goddam doubt<br>
here it comes, from the ruin of my mouth, I'm sorry<br><br>

In the twilight<br><br>

how much trouble are we in?<br>
don't you hear those violins,<br>
do you believe we conceived in sin? well i do!<br><br>

It's as close as your last hand<br>
this is far as the promise land<br>
do you believe its right where you stand, well I do, I do..<br><br>

In the twilight<br><br>


a little question mark<br>
punctuating up the dark<br>
hold out your hands as it falls apart. like I do, like I do<br><br>

In the twilight...




	</p>
</article>


<article id="trouble">
  <header>
    <h1>Trouble</h1>
    <h3>lyrics by Ryan Adams</h3>
  </header>
  <p class="lyrics">

Trouble, I hear the clock tick in the room<br>
The walls will crumble, and you're holding<br>
The match between the fuse<br><br>

There's something I just got, nothing else to say<br>
I've been on the beats since yesterday<br>
There's something loose, either way<br><br>

[chorus]<br>
hey, we might as well be dead and be gone<br>
If we don't belong here<br>
Hey, the year and the day<br>
That it maps on my face<br>
Like I'm out of my sense<br>
Yeah, and all the trouble I'm in<br><br>

Trouble, I feel you watch me across the room<br>
Another summer, in the palms of the color of doom<br>
Put my hand through the mirror like I'm guard alone<br>
7 Years bad luck is better than none<br>
Following the good back into the gone<br><br>

[Chorus]<br>

I see my brother, he's waiting in line for his turn<br>
I'm not as humble, I know everything here is gonna burn<br><br>

Sometimes I just got nothing else to say<br>
I've been on the beats since yesterday<br>
There's something to loose, either way<br>

[Chorus]<br>

Yeah, and all the trouble I'm in<br>
Hey.....
	</p>
</article>

<article id="tieaknot">
  <header>
    <h1>Tie a Knot</h1>
    <h3>lyrics by Jon Dee Graham</h3>
  </header>
  <p class="lyrics">
no lyrics available.
	</p>
</article>


<article id="shedmyskin">
  <header>
    <h1>Shed My Skin</h1>
    <h3>lyrics by Blue Rodeo</h3>
  </header>
  <p class="lyrics">

You've got troubles on your mind<br>
Keeps you away from me, there's no sense in denying<br>
And I've cursed myself for the longest time<br>
And now I find I just don't mind<br><br>

Leave your coat beside the door <br>
Come and lay here on this blanket on the floor <br>
And we'll throw our candles in the flames tonight<br>
Set it right, try to set it right<br><br>

(chorus)<br>
When all our tears coming down are gone<br>
And I shed my skin before this evening's done<br>
If we never get the chance to come back here again<br>
I'll understand, you know I'll understand<br>
You know I'll understand<br><br>

All the spirits of the night<br>
Watch us sleeping here beside the firelight<br>
And I'll hold my tongue till this moment's gone<br>
Kiss the dawn<br>
Stay to kiss the dawn


	</p>
</article>

<article id="restrainingorder">
  <header>
    <h1>Restraining Order</h1>
    <h3>lyrics by Jon Dee Graham</h3>
  </header>
  <p class="lyrics">

I pass by your house, in the middle of the night<br>
standing on the sidewalk, just outside the light<br><br>

your bedroom light is on, casting shadows on the lawn<br>
someone in the window, and there gone.<br><br>

oh… I pass by your house<br><br>

a world so wide, a night so clear<br>
so many places I should be, instead of here<br>

I don’t want to see you, and I expect you feel the same<br>
to tell the truth I don’t know why I came.<br>

oh… I pass by your house.<br><br>

wonder if you’re sleeping, somewhere in the house<br>
wonder if you’re dreaming, and what about<br>

I passed by your house, in the middle of the night<br>
standing in the shadows, just outside the light<br><br>

oh… I pass by your house.



	</p>
</article>

<article id="onemoment">
  <header>
    <h1>One Moment</h1>
    <h3>lyrics by Jon Dee Graham</h3>
  </header>
  <p class="lyrics">

In the name of 53 saints <br>
I will go search, he says <br>
Seek out the hurt, he says <br>
Where comes as pain <br><br>

Could it be your wind <br>
Spinning in the dark, he says<br> 
An animal in your heart, he says <br>
I will find the same, in time<br><br>
 
One moment to another <br><br>

With the baby that is to come <br>
There'll be no suffering <br>
There'll be no hurt, he says <br>
For either or the one <br><br>

It will fall into this world <br>
As an easy thing, he says <br>
No mis-happening, he says <br>
The inner sun will come <br><br>

In time <br>
One moment to another <br>
One moment to another... 
	</p>
</article>


<article id="laredo">
  <header>
    <h1>Larado</h1>
    <h3>lyrics by Jon Dee Graham</h3>
  </header>
  <p class="lyrics">

I drove to Larado, I had the big eyes in my head<br>
Well I drove to Larado, I had the big eyes in my head<br>

They were looking for a small, dark something<br><br>

There’s a stain in the trunk that ‘ll never ever ever come out.<br>
There’s a stain in the trunk that ‘ll never ever ever come out.<br>

And it’s shaped like a small, dark something<br><br>

Well living in a motel called motel out on refinery road.<br>
Well living in a motel called motel out on refinery road.<br><br>

The sandman’s dead so we walked the floor,<br>
the sandman’s dead we don’t sleep no more
<br>
We shot dope till the money ran out…. the money ran out!<br><br>

I drove to Larado, I had the fire flies in my head<br>
Well I drove to Larado, I had the fire flies in my head<br><br>

They were lighting up a small, dark something<br>
They were looking for a small, dark something<br>
They were looking for a ...

	</p>
</article>

<article id="bigsweetlife">
  <header>
    <h1>Big Sweet Life</h1>
    <h3>lyrics by Jon Dee Graham</h3>
  </header>
  <p class="lyrics">
Why don't you come outside?<br>
Get a look at that sky<br>
It's like a dream I had one time<br>
Oh, the sky was on fire<br>
Yeah, but that was just a dream<br>
And this real life<br><br>

And it's a big sweet life<br>
It's a big sweet life<br><br>

I had the fear in my legs<br>
And It would not walk<br>
I had the fear in my mouth<br>
It did not want to talk<br>
Yeah, but fear is just a dream<br>
And this is real life<br><br>

And it's a big sweet life<br>
<br>

Come here you beautiful thing<br>
Come here you beautiful everything<br><br>

(Instrumental)<br>

I had some big ideas<br>
Made some fancy plans<br>
Oh, but I got it all wrong<br>
Man, oh man oh man<br>
Those were only plans<br>
And this is real life<br><br>

It's a big sweet life

	</p>
</article>


<article id="bigcanal">
  <header>
    <h1>Big Canal</h1>
    <h3>lyrics by Jon Dee Graham</h3>
  </header>
  <p class="lyrics">

Up on the bank of a big canal<br>
Watch the water roll by, All by myself<br><br>

The only sound when the high wind blows,<br>
It’s the dry can rattling in the wind like a box of bones.<br><br>

Roll water roll, deep and slow,<br>
She was mine for a little while, but I let her go.<br><br>


I can watch the road from where I sit.<br>
Scratchin pictures in the dirt, with a pointed stick<br><br>

Like a rabbit run, like a bob-white fly<br>
Like a black bird drawing circles in the sky.<br><br>

Roll water roll, green and deep<br>
She was mine for a little while, now she’s yours to keep<br><br>

Roll water roll, green and deep<br>
She was mine for a little while, now she’s yours to keep

	</p>
</article>

<article id="dancewithme">
  <header>
    <h1>Dance with me</h1>
    <h3>lyrics by Old 97s</h3>
  </header>
  <p class="lyrics">

Underneath the foreign stars<br>
In a foreign place where they don't love you, I do tan<br>
In the pale moonlight your eyes are wide<br>
And the band plays, everybody wants you
<br><br>
He takes your hand tenderly<br>
And he whispers sweet surrender, nothing<br>
How he feels about girls like you with your flip flop smiles<br>
And your big blue eyes on vacation<br><br>

[chorus]<br>
Dance with me into the ocean<br>
Roll with me into the sea<br>
Don't tell me the world is in trouble<br>
Do you want to dance with me?<br><br>

Love, changes hands as the big waves<br>
Crash and dream don't die, but I do<br>
Where were you when I needed you right now<br>
The telephone just rings, I'm cannot find you<br><br>

Underneath the foreign sun<br>
With a foreign man who is gone and almost forgotten<br>
Take everything you see<br>
And remember us and wonder If you will be forgiven...
	</p>
</article>

<article id="amisafe">
  <header>
    <h1>Am I Safe</h1>
    <h3>lyrics by Ryan Adams</h3>
  </header>
  <p class="lyrics">

		All these things keep running through my mind<br>
		Everyone and everything I left behind<br>
		Standing in the cold great dark, watching cars go by<br>
		And all these things keep running through my mind<br><br>
		Am I safe? Am I safe? Am I safe?<br>
		If I don't wanna be with you<br><br>

		Every day my part seems like a stone<br>
		Carries me away into the undertow<br>
		At the bottom, there's no air<br>
		There's no sound, no light<br>
		And all these things keep running through my mind<br><br>

		Am I safe? Am I safe? Am I safe? <br>
    If I don't wanna be with you<br><br>

		On my way back on my sea of part over<br>
		Close my eyes, what if there was nothing<br>
		It's complicated<br>
		I just don't love you anymore<br>
		I just wanna sit here and watch it burn...<br>
		Sit and watch it burn<br><br>

    Sitting look at someone through the world<br>
    Running from myself like when I was a child<br>
    Pictures in on the wall, when we used to smile<br>
    All these things keep running<br>
    Through my mind...

	</p>
</article>

<article id="staywithme">
  <header>
    <h1>Stay with me</h1>
    <h3>lyrics by Ryan Adams</h3>
  </header>
  <p class="lyrics">
		Love.. when you call my name<br>
		It sends me running into the flame<br><br>

		I love you baby, just treat me right<br>
		Hold me closer in the middle of the night<br>
		I love you girl, and it's alright<br><br>

		Stay with me<br><br>

		Are you waiting, are you standing guard?<br>
		There's nothing they can steal from us<br>
		That isn't always yours<br><br>

		Stay with me, Stay with me<br><br>

		Like the speed of sound, or the speed of light<br>
		When you say my name, it feels so right<br>
		In the middle of the night, when you call my name. 
		Don't worry, it's okay<br><br>

		Stay with me, Stay with me
	</p>
</article>

<article id="rocksatthemoon">
  <header>
    <h1>Throwin rocks at the moon</h1>
    <h3>lyrics by The Backsliders</h3>
  </header>
  <p class="lyrics">

Colder than the pennies on a dead man's eyes<br>
meaner than a four-ten side-by-side<br>

she's the stuff that makes worlds collide<br>
she's a angel with a dangerous side<br><br>

upstairs, razor glidin' on glass<br>
upstairs, some strangers hand on her ass<br>
upstairs, there's a door being closed in the dark<br><br>


well she likes to go riding in her sister's car<br>
hanging out the window wishing on a star<br>

beatin' on the dash when the radio dies<br>
making different boys with the look in her eyes<br><br>

upstairs, her heart's beatin' too fast<br>
upstairs, she swears this one's her last<br>
upstairs, there's a deal going down in the dark<br><br>

maybe in the middle of the night<br>
she'll think about me<br>

something won't hit her quite right<br>
and it won't let her be<br>

darkness comes swimmin' all around her<br>
sleep never follows too soon<br>

I'll be standing out in my front yard<br>
throwin' rocks at the moon...
<br><br>

boys like to dance when that accordion plays<br>
spinnin' her wheels down the lost highway<br>

kickin' up dust on a dancehall floor<br>
leavin' em thirsty beggin' for more<br><br>

upstairs, razor glidin' on glass<br>
upstairs, some strangers hand on her ass <br>
upstairs there's a door being closed in the dark<br>

maybe in the middle of the night<br>
she'll think about me<br>

something won't hit her quite right<br>
and it won't let her be<br>

darkness comes swimmin' all around her<br>
and sleep never follows too soon<br>

I'll be standing out in my front yard<br>
throwin' rocks at the moon<br><br>

throwin' rocks at the moon<br>

	</p>
</article>

<article id="snakebitagain">
  <header>
    <h1>Snakebit Again</h1>
    <h3>lyrics by Bernard Allison</h3>
  </header>
  <p class="lyrics">

I did it again, busted and blue<br>
I pushed you to hard, I'm losing you<br>
Your love is a gamble, and I fail everytime<br>
Empty my pockets, and I lose every dime<br><br>

I know our luck is gonna change real soon<br>
I know trouble's gonna win in the end<br>
Whoa, I'm snake bit again<br>
Snake bit again<br>
I can't ever win, trouble's my friend<br>
I'm snake bit again<br><br>

You don't know what cold is, till you lost your will<br>
I gave up my soul baby, but I'm freezing still<br>
I ain't here for forgiveness, just to take the poison away<br>
I'm licking my wounds, I pray everyday<br><br>

I know our luck is gonna change real soon<br>
And I know trouble's gonna win in the end<br>
Oh, I'm snake bit again<br>
Snake bit again<br>
I can't ever win, trouble's my friend<br>
I'm snake bit again
	</p>
</article>

<article id="protection">
  <header>
    <h1>Protection</h1>
    <h3>lyrics by Lucinda Williams</h3>
  </header>
  <p class="lyrics">

I was [?] as God is the witness, a crowdie bar when nobody could hear<br>
Now I travel throw the world with no occasion<br>
And I do, I do it all by my own sweet self<br><br>

I need protection from the power of your love<br>
I need protection from the [?]<br>
I need protection from the [?]<br>
I need protection from the enemy and consciences<br>
Give me protection from the [?] of love<br><br>

I'm be planning to the world all alone<br>
Put you in throw to find a home<br>
I tell you what travel will repeat<br>
My own child make me stay on my two feet<br><br>

I need protection from the power of your love<br>
I need protection from the [?]<br>
I need protection from the [?] of rock and roll<br>
I need protection from the enemy of soul<br>
Give me protection from the [?] of love<br><br>

You know the people look at and talk about me<br>
Throw up my hands it's crowd out with<br>
But the world gonna stay, and go without me<br>
So I still get up and I keep on tryn<br>
Living in a world full of endless trouble<br>
Living in a world with darkness double<br>
But my dirty [?] when I stand up<br>
And you forgive what I'm giving for no giving up<br>
<br>
I need protection from the power of your love<br>
I need protection from the [?]<br>
I need protection from the [?] of rock and roll<br>
I need protection from the enemy of soul<br>
Give me protection from the [?] of love<br><br>

I need protection<br>
Give me protection

	</p>
</article>


</section>