<!--
<div class="container">
    <div class="row" id="menubar">
        <div set-menu id="menu-design" class="col-xs-4" title="Choose a design pattern">
            <i class="fa fa-cog"></i> Design</div>
        <div id="menu-print" class="col-xs-4" title="Print your design">
            <input type="file" id="take-picture" accept="image/*;capture=camera" />
            <span class="overlay ">
            	<i class="fa fa-camera"></i>Photo</span>
        </div>
        <div set-menu id="menu-name" class="col-xs-4" title="Give your cup a name">
            <i class="fa fa-print"></i> Print</div>
            
    </div>
</div>

-->